html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* Can not use CSS var() syntax here. It does not work at all */
/* CUSTOM BLOCK STYLES
----------------------------------------------------------------------------- */
.is-style-roundedcorners {
  border-radius: var(--wp--custom--global-border-radius);
  overflow: hidden; }
